aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==4.2.2
anyio==3.6.2
appdirs==1.4.4
argcomplete==3.0.2
async-timeout==4.0.2
asynctest==0.13.0
attrs==22.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.0
blinker==1.5
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
comtypes==1.1.14
cryptography==40.0.1
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
distlib==0.3.6
docopt==0.6.2
edge-tts==6.1.3
entrypoints==0.4
fastapi==0.95.0
ffmpy==0.3.0
filelock==3.10.0
fonttools==4.38.0
frozendict==2.3.6
frozenlist==1.3.3
fsspec==2023.1.0
gitdb==4.0.10
GitPython==3.1.31
google-search-results==2.4.2
gradio==3.22.1
greenlet==2.0.2
h11==0.14.0
html5lib==1.1
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.13.2
idna==3.4
importlib-metadata==5.2.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==7.4.9
jupyter_core==4.12.0
kiwisolver==1.4.4
langchain==0.0.27
linkify-it-py==2.0.0
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.5.3
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mpv==1.0.3
multidict==6.0.4
multitasking==0.0.11
nest-asyncio==1.5.6
nltk==3.8.1
numpy==1.21.6
openai==0.27.2
orjson==3.8.7
packaging==23.0
pandas==1.3.5
parso==0.8.3
pickleshare==0.7.5
Pillow==9.4.0
pipreqs==0.4.11
pipx==1.2.0
pkgutil_resolve_name==1.3.10
platformdirs==3.2.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.4
pyarrow==11.0.0
PyAudio==0.2.13
pycparser==2.21
pydantic==1.10.6
pydeck==0.8.0
pydub==0.25.1
pygame==2.3.0
Pygments==2.14.0
Pympler==1.0.1
pyparsing==3.0.9
pypiwin32==223
pyrsistent==0.19.3
python-dateutil==2.8.2
python-multipart==0.0.6
pyttsx3==2.90
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pywin32==305
PyYAML==6.0
pyzmq==25.0.2
regex==2022.10.31
requests==2.28.2
rfc3986==1.5.0
rich==13.3.3
scikit-learn==1.0.2
scipy==1.7.3
semver==2.13.0
-e git+https://github.com/Pratik-Behera/sentence-transformers.git@3e1929fddef16df94f8bc6e3b10598a98f46e62d#egg=sentence_transformers
sentencepiece==0.1.97
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.4
SpeechRecognition==3.9.0
SQLAlchemy==2.0.7
starlette==0.26.1
streamlit==1.20.0
threadpoolctl==3.1.0
tokenizers==0.13.2
toml==0.10.2
toolz==0.12.0
torch==1.13.1
torchvision==0.14.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.27.4
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.1
urllib3==1.26.15
userpath==1.8.0
uvicorn==0.21.1
validators==0.20.0
virtualenv==20.21.0
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
websockets==10.4
yarg==0.1.9
yarl==1.8.2
yfinance==0.2.14
zipp==3.15.0
